@*Not used view*@

<div class="comments">
    <div class="comments-header d-flex align-items-center">
        <div class="user-image">
            <img class="rounded-circle"
                 src="assets/img/avatar/avatar-05.jpg" alt="...">
        </div>
        <div class="d-flex flex-column mr-auto">
            <div class="title">
                <span class="username">Megan Duncan</span>
            </div>
            <div class="time">10 min ago</div>
        </div>
    </div>
    <div class="comments-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            a imperdiet ipsum, sit amet hendrerit diam. Nam bibendum nec
            magna sed tincidunt.
        </p>
    </div>
    <div class="comments-footer d-flex align-items-center">
        <div class="meta">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <i class="la la-flag"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="rep">Reply</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Comments -->
<!-- Begin Reply -->
<div class="reply">
    <div class="reply-header d-flex align-items-center">
        <div class="user-image">
            <img class="rounded-circle"
                 src="assets/img/avatar/avatar-06.jpg" alt="...">
        </div>
        <div class="d-flex flex-column mr-auto">
            <div class="title">
                <span class="username">Beverly Oliver</span>
            </div>
            <div class="time">5 min ago</div>
        </div>
    </div>
    <div class="reply-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            a imperdiet ipsum, sit amet hendrerit diam. Nam bibendum nec
            magna sed tincidunt.
        </p>
    </div>
    <div class="reply-footer d-flex align-items-center">
        <div class="meta">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <i class="la la-flag"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="rep">Reply</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Reply -->
<!-- Begin Publisher -->
<div class="publisher publisher-multi">
    <textarea class="publisher-input" rows="1"></textarea>
    <div class="publisher-bottom d-flex justify-content-end">
        <a class="publisher-btn" href="javascript:void(0);">
            <i class="la la-smile-o"></i>
        </a>
        <a class="publisher-btn" href="javascript:void(0);">
            <i class="la la-camera"></i>
        </a>
        <button class="btn btn-gradient-01">Отправить</button>
    </div>
</div>
<!-- End Publisher -->