@{ViewBag.Title = "Вместе! -Библиотека";}

<h2>Библиотека</h2>
<div class="container-fluid">
    <div class="row flex-row">
        <!-- Begin Widget 23 -->
        <div class="col-xl-4">
            <div class="widget widget-23 bg-gradient-03 d-flex justify-content-center align-items-center">
                <div class="widget-body text-center">
                    <a href="#"><div class="title">Сценарии</div></a>
                    <div class="number">23 файла</div>
                </div>
            </div>
        </div>
        <!-- End Widget 23 -->
        <div class="col-xl-4">
            <div class="widget widget-23 bg-gradient-03 d-flex justify-content-center align-items-center">
                <div class="widget-body text-center">
                    <a href="#"><div class="title">Презентации</div></a>
                    <div class="number">23 файла</div>
                </div>
            </div>
        </div>
        <!-- End Widget 23 -->
        <div class="col-xl-4">
            <div class="widget widget-23 bg-gradient-03 d-flex justify-content-center align-items-center">
                <div class="widget-body text-center">
                    <a href="#"><div class="title">Видео</div></a>
                    <div class="number">23 файла</div>
                </div>
            </div>
        </div>
        <!-- End Widget 23 -->
        <div class="col-xl-4">
            <div class="widget widget-23 bg-gradient-03 d-flex justify-content-center align-items-center">
                <div class="widget-body text-center">
                    <a href="#"><div class="title">Приказы директора</div></a>
                    <div class="number">23 файла</div>
                </div>
            </div>
        </div>
        <!-- End Widget 23 -->
        <!-- Begin Widget 20 -->
        <div class="col-xl-12">
            <div class="widget widget-20 has-shadow">
                <div class="widget-body">
                    <div class="row mt-5 mr-0 ml-0">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-4">
                            <div class="media w-100">
                                <div class="align-self-center mr-2">
                                    <i class="la la-file-video-o"></i>
                                </div>
                                <div class="media-body align-self-center">
                                    <div class="files-title"><a href="#">Новогоднее_выступление.mp4</a></div>
                                    <div class="files-number">2569 mb</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-4">
                            <div class="media w-100">
                                <div class="align-self-center mr-2">
                                    <i class="la la-file-audio-o"></i>
                                </div>
                                <div class="media-body align-self-center">
                                    <div class="files-title"><a href="#">Аудиозапись_выступление_директора.mp3</a></div>
                                    <div class="files-number">34 mb</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-4">
                            <div class="media w-100">
                                <div class="align-self-center mr-2">
                                    <i class="la la-file-picture-o"></i>
                                </div>
                                <div class="media-body align-self-center">
                                    <div class="files-title"><a href="#">8_марта_выступление_7_класс.jpeg</a></div>
                                    <div class="files-number">18 mb</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-4">
                            <div class="media w-100">
                                <div class="align-self-center mr-2">
                                    <i class="la la-file-zip-o"></i>
                                </div>
                                <div class="media-body align-self-center">
                                    <div class="files-title"><a href="#">Бланки_заявлений</a></div>
                                    <div class="files-number">3.6 mb</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-4">
                            <div class="media w-100">
                                <div class="align-self-center mr-2">
                                    <i class="la la-file-pdf-o"></i>
                                </div>
                                <div class="media-body align-self-center">
                                    <div class="files-title"><a href="#">Устав.pdf</a></div>
                                    <div class="files-number">1.9 mb</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center mb-4">
                            <div class="media w-100">
                                <div class="align-self-center mr-2">
                                    <i class="la la-file-powerpoint-o"></i>
                                </div>
                                <div class="media-body align-self-center">
                                    <div class="files-title"><a href="#">Шаблон_презентации.pptx</a></div>
                                    <div class="files-number">7 mb</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Widget 20 -->
    </div>
</div>
<!-- End Container -->