@model ProjectGraduationK.Models.Question

@{ViewBag.Title = "Вместе! - Вопросы";}

<h2 class="page-header-title">Вопросы</h2><br />
<div class="row">
    <div class="col-xl-12">
        <!-- Begin Icons 01 -->
        <div id="accordion-icon-left" class="accordion-icon icon-01">
            <!-- Begin Widget -->
            <div class="widget has-shadow">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h2>Льготы и пособия</h2>
                </div>

                <div id="questionContainer">
                </div>


            </div>
            <!-- End Widget -->
        </div>
        <!-- End Icons 01 -->
    </div>
</div>
<div class="row">
    <div class="col-xl-8 d-flex align-items-center mb-3">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-large">Добавить вопрос</button>
    </div>
</div>
<div id="modal-large" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавить вопрос</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">close</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Данный раздел предназначен для небольших пояснений, которые касаются наиболее часто задаваемых вопросов. Кратко сформулируйте вопрос и ответ.
                </p><br />
                    <form asp-controller="Faq" asp-action="SaveQuestion" method="post" class="form-horizontal">
                        <div class="form-group row mb-5">
                            <label class="col-lg-3 form-control-label">Тема</label>
                            <div class="col-lg-9 select mb-3">
                                <select name="account" class="custom-select form-control">
                                    <option>Льготы и пособия</option>
                                    <option>Оформление заявлений</option>
                                    <option>Разное</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row d-flex align-items-center mb-5">
                            <label class="col-lg-3 form-control-label">Вопрос</label>
                            <div class="col-lg-9">
                                <input asp-for="QuestionText" type="text" id="questionText" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row d-flex align-items-center mb-5">
                            <label class="col-lg-3 form-control-label">Ответ</label>
                            <div class="col-lg-9">
                                <input asp-for="Answer" type="text" id="answer" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="publishButton" type="submit" class="btn btn-primary">Сохранить</button>
                            <button type="button" class="btn btn-shadow" data-dismiss="modal">Отмена</button>
                        </div>
                    </form>
            </div>

        </div>
    </div>
</div>



@section FaqScripts{
    <script src="~/js/faq.js"></script>
}

